* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: rgb(218, 221, 233);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box {
  width: 290px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.code {
  width: 100%;
}

.code img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  padding: 5px;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: auto;
  height: auto;

  padding: 20px;
  flex-grow: 1;
}

#text1 {
  font-size: 20px;

  font-weight: 700;
  font-style: normal;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 10px;
}
#text2 {
  font-size: 13px;

  font-weight: 400;
  font-style: normal;
  opacity: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
