* {
  box-sizing: border-box;
}

.box {
  color: rgb(224, 4, 4);
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.b1 {
  background-color: rgb(43, 85, 122);
}
.b2 {
  background-color: rgb(6, 139, 255);
}

.b3 {
  background-color: rgb(53, 42, 7);
}

.b4 {
  background-color: rgb(255, 3, 3);
}
.b5 {
  background-color: rgb(17, 129, 60);
}

.container {
  display: flex;
  border: 5px solid gold;
  height: 100vh;
}
